@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Bold.ttf');
	font-weight: 700;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Medium.ttf');
	font-weight: 500;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Regular.ttf');
	font-weight: 300;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Light.ttf');
	font-weight: 100;
}
@media screen and (orientation:portrait) {
	html{
		font-size: 5vw!important;
	}
}
@media screen and (orientation:landscape) {
	html{
		font-size: 5vh!important;
	}
}
@media only screen and (min-resolution: 90dpi) and (min-width: 540px){
	html{
		font-size: 150%!important;
	}
	.notification .window.growl.show{
		transform: scale(2)!important;
	}
}
body *{
	font-family: MozTT, Open Sans, Ubuntu, Droid Sans, Roboto, Sans;
	font-weight: 200;
	letter-spacing: -0.05em;
}
a{
	color: inherit;
}
input[type="text"],
input[type="password"],
input[type="email"]{
	height: 2rem;
	width: 100%;
	font-size: 1rem;
	margin-left: -.1rem;
	margin-bottom: .5rem;
}
button{
	height: 2.4rem;
	font-size: 1rem!important;
	line-height: 1rem;
	background-color: #D45500!important;
}
button::-moz-focus-inner{
	border: 0;
}
body > section > header{
	height: 3rem;
	box-shadow: none;
	background: url("BB/headers/images/ui/header.png") repeat-x scroll 0 0 / auto 100% transparent;
	box-shadow: 0 0 .5rem #333;
	z-index: 2;
}
body > section > header > span.title{
	text-align: left!important;
	left: 2rem!important;
	font-size: 1.5rem;
	line-height: 1.5rem;
	top: .8rem;
}
body > section > header > nav a{
	height: 3rem!important;
	width: 2rem;
	color: #FFF!important;
	text-shadow: none!important;
	line-height: 3rem!important;
	text-align: center;
}
body > section > header > nav a.active{
	background-color: rgba(255, 255, 255, .2);
}
body > section > header > nav a span.icon{
	font-size: 1.3rem!important;
}
body > section > header > nav a.left{
	width: 1.2rem!important;
	padding: 0 .2rem!important;
	background-color: rgba(0, 0, 0, .1);
}
body > section > header > nav a.left span{
	font-size: 1rem!important;
}
body > section#splash{
	background-color: #F4F4F4;
}
body > section#splash img{
	position: fixed;
	display: block;
	width: 10rem;
	left: 50%;
	top: 50%;
	margin-left: -5rem;
	margin-top: -3rem;
}
body > section#welcome{
	background-color: #D45500;
	color: #FFF;
}
body > section#welcome > div{
	margin: 4rem 2rem;
}
body > section#welcome h1{
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
}
body > section#welcome h2{
	font-size: 1.3rem;
	line-height: 1.3rem;
}
body > section#welcome a{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 1.5rem;
}
body > section#login{
	background-color: #F4F4F4;
}
body > section#login > article > div{
	padding: 2rem;
}
body > section#login > article#login h1{
	position: relative;
	width: 16rem;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
	color: #D45500;
}
body > section#login > article#login h1 img.icon{
	float: left;
	height: 2.5rem;
	margin-right: .5rem;
}
body > section#login > article#login button{
	width: 100%;
}
body > section#main > article{
	top: 3rem!important;
}
body > section#main > header nav a{
	position: relative;
}
body > section#main > header #totalUnread{
	display: none;
	position: absolute!important;
	top: .3rem;
	left: 1.8rem;
	font-weight: bold;
	font-size: .8rem;
	line-height: .8rem;
	z-index: 3;
	padding: .3rem;
	background-color: #333;
	border-radius: .2rem;
	animation: blink .5s infinite alternate;
}
body > section#main > article.list ul li{
	height: 3rem;
	padding: 0;
	color: #666;
	cursor: pointer;
	overflow: hidden;
	background-color: #F9F9F9;
	border: none!important;
}
body > section#main > article.list ul li:nth-child(2n){
	background-color: #F3F3F3;
}
body > section#main > article.list ul li span.avatar{
	position: absolute;
	display: block;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	background-color: #CCC;
}
body > section#main > article.list ul li span.avatar img{
	height: 3rem;
}
body > section#main > article.list ul li span.name{
	position: absolute;
	left: 3.7rem;
	top: .7rem;
	font-weight: 300;
	font-size: 1rem;
}
body > section#main > article.list ul li span.status{
	position: absolute;
	left: 3.7rem;
	top: 1.7rem;
	font-size: .8rem;
	font-weight: 100;
	color: #888;
}
body > section#main > article.list ul li span.show{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: .3rem;
	height: 3rem;
}
body > section#main > article.list ul li span.unread{
	position: absolute;
	right: .5rem;
	top: .5rem;
	padding: 0 .2rem;
	background-color: #333;
	color: #FFF;
	border-radius: .2rem;
	font-weight: bold;
	font-size: .8rem;
	line-height: 1rem;
}
body > section#main > article.list span.notyet{
	position: absolute;
	display: block;
	top: 45%;
	width: 100%;
	text-align: center;
	font-size: 1rem;
	color: #666;
}
body > section#chat > header span.name{
	position: absolute;
	top: .5rem;
	left: 2rem;
	margin: 0;
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 500;
	color: #FFF;
}
body > section#chat > header span.status{
	position: absolute;
	top: 1.6rem;
	left: 2rem;
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-weight: 100;
	color: #FFF;
}
body > section#chat > header span.show{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 0.3rem;
	height: 3rem;
}
body > section#chat > header span.avatar{
	float: right;
	display: block;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	margin-right: 0.3rem;
	background-color: #CCC;
}
body > section#chat > header span.avatar img{
	margin: 0 auto;
	height: 3rem;
}
body > section#chat > article#one #typing{
	display: none;
	position: relative;
	margin-bottom: -2rem;
	height: 1rem;
	padding: .5rem;
	background-color: rgba(255, 255, 255, .9);
	text-align: center;
	font-size: .8rem;
	z-index: 1;
}
body > section#chat > article#one > div#footbox{
	position: fixed!important;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .6rem;
	background-color: #EAEAEA;
	border-top: .05rem solid #DDD;
}
body > section#chat > article#one div#text{
	position: relative;
	padding: .7rem .5rem .5rem .5rem;
	min-height: 1.3rem;
	max-height: 4rem;
	background-color: #FFF;
	border: .05rem solid #DDD;
	border-radius: .2rem;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1rem;
	color: #666;
	outline: none;
	overflow: auto;
}
body > section#chat > article#one button#say{
	position: relative;
	float: right;
	top: 0.05rem;
	font-size: .8rem!important;
	line-height: .8rem!important;
	padding: .1rem 1rem;
	height: 2.3rem;
	width: 1.2rem;
	line-height: 2rem;
	margin: 0;
	margin-left: 0.5rem;
	font-weight: bold;
}
body > section#chat > article#one > ul#messages{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 3.7rem;
	margin: 0;
	padding: 1rem;
	list-style-type: none;
	overflow-x: hidden;
}
body > section#chat > article#one > ul#messages li{
	width: 85%;
	margin-bottom: 0.8rem;
	background-color: #FFF;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	padding: 1rem;
	overflow: hidden;
}
body > section#chat > article#one > ul#messages li.in{
	float: left;
	text-align: left;
	color: #666;
}
body > section#chat > article#one > ul#messages li.out{
	float: right;
	text-align: right;
	background-color: #F2F2F2;
	color: #888;
}
body > section#chat > article#one > ul#messages > li > div.msg{
	margin: 0;
	letter-spacing: 0rem;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1rem;
}
body > section#chat > article#one > ul#messages > li > div.msg:not(:first-child){
	border-top: .05rem solid #E3E3E3;
	margin-top: 0.3rem;
	padding-top: 0.3rem;
}
body > section#chat > article#one > ul#messages > li > div.msg > span.stamp{
	font-size: .7rem;
	color: #BBB;
}
body > section#chat > article#one > ul#messages > li.in > div.msg > span.stamp{
	float: right;
}
body > section#chat > article#one > ul#messages > li.out > div.msg > span.stamp{
	float: left;
}
body > section#chat > article#one > ul#messages > li p{
	margin: 0;
}
body > section#chat > article#one > ul#messages > li img{
	max-width: 100%;
}
body > section#chat > article#one > ul#messages > span.daychange{
	display: block;
	width: 100%;
	margin-bottom: 1rem;
	border-bottom: .05rem solid #CCC;
	color: #999;
}
body > section#chat > article#one > ul#messages hr.end{
	float: left;
	margin-top: 3rem;
	border: none;
	width: 100%;
}
body > section#main > article#me > div{
	position: relative;
	margin: .8rem;
	padding: .8rem;
	background-color: #FFF;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	color: #666;
	font-size: 1rem;
}
body > section#main > article#me > div#vcard h1,
body > section#main > article#me > div#vcard h2{
	margin: 0;
	font-size: 1rem;
	line-height: 1rem;
	text-align: center;
	width: 100%;
}
body > section#main > article#me > div#vcard h1{
	margin-top: .3rem;
	font-weight: 500;
}
body > section#main > article#me > div#vcard h2{
}
body > section#main > article#me > div#vcard span.avatar{
	display: block;
	margin: 0 auto;
	width: 4rem;
	overflow: hidden;
}
body > section#main > article#me > div#vcard span.avatar img{
	border-radius: 10%;
	width: 4rem;
}
body > section#main > article#me > div#status{
	padding-top: 2rem;
}
body > section#main > article#me > div#status h1{
	margin: 0;
}
body > section#main > article#me > div#status input#status{
	left: 1rem;
	margin-top: .2rem;
	padding: .2rem;
	font-size: .8rem;
}
body > section#main > article#me > div#status button{
	width: 100%;
	margin-left: .2rem;
	padding: .3rem;
	font-size: .8rem;
	border-radius: .2rem;
}
body > section#main > article#me > div#status ul{
	position: absolute;
	top: .5rem;
	right: .5rem;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}
body > section#main > article#me > div#status li{
	display: block;
	float: left;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
body > section#main > article#me > div#status li.selected{
	width: 4rem;
}
body > section#dialog > article{
	background-color: #333;
	color: #FFF;
}
body > section#dialog > article > header{
	height: 1.8rem;
	background-color: #222;
	border-bottom: .1rem solid #666;
	font-size: .8rem;
	line-height: 1rem;
	padding-top: 1.2rem;
}
body > section#dialog > article > header > nav{
	font-size: .5rem;
}
body > section#dialog > article > header > a.right{
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem;
}
body > section#dialog > article{
	padding-top: 3rem;
}
body > section#dialog > article > div{
	padding: 2rem;
}
body > section .show.chat{
	background-color: #82C82D;
}
body > section .show.a{
	background-color: #5F9B0A;
}
body > section .show.away{
	background-color: #008EAB;
}
body > section .show.xa{
	background-color: #E5745C;
}
body > section .show.dnd{
	background-color: #B90000;
}
body > section .show.na{
	background-color: #858585;
}
label{
	display: block;
	font-size: 1rem!important;
	line-height: 1rem!important;
	margin: .2rem 0!important;
}
/*  LUNGO FIXES  */
aside.show{
	transform: translateX(-264px);
	font-size: .8rem;
}
aside.show header{
	font-size: 1rem;
	line-height: 1rem;
	height: 3rem;
}
aside.show header span.title{
	margin-top: 1rem;
}
aside.show article{
	top: 3rem!important;
}
aside.show article ul li{
	height: 1rem;
	padding: 1rem;
	cursor: pointer;
}
aside.show article ul li a{
	color: #FFF!important;
	font-size: 1rem;
}
aside.show article ul li a span.icon{
	margin-right: .5rem;
}
section .list li:not(.anchor){
	border-bottom: none!important;
}
article.list ul li{
	transition: all .2s ease;
}
article.list ul li:active{
	background-color: #D45500!important;
}
article.list ul li:active *{
	color: #FFF!important;
}
/* KEYFRAMES */
@keyframes blink{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(.8);
	}
}
