@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Regular.ttf');
  font-weight: 300;
}
@font-face {
  font-family:'mozTT';
  src:url('fonts/MozTT-Light.ttf');
  font-weight: 100;
}
a {
  color: inherit;
  cursor: pointer;
}
small {
  font-size: .8em!important;
}
.notyet {
  display: block;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -7rem;
  width: 14rem;
  text-align: center;
}
img.foreveralone{
  position: fixed;
  bottom: -.1rem;
  width: 10rem;
  left: 50%;
  margin-left: -5rem;
}
button::-moz-focus-inner {
	border: 0;
}
section {
  background-color: #222;
}
section#splash {
  background-color: #F4F4F4;
}
section#splash > article {
  top: 0!important;
}
section#splash img {
  position: fixed;
  display: block;
  width: 10rem;
  left: 50%;
  top: 50%;
  margin-left: -5rem;
  margin-top: -3rem;
}
body > section#welcome {
	background-color: #E95644;
	color: #FFF;
}
body > section#welcome > div {
	margin: 4rem 2rem;
}
body > section#welcome h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
}
body > section#welcome h2 {
	font-size: 1.3rem;
	line-height: 1.3rem;
}
body > section#welcome a {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 1.5rem;
}
body > section#login {
	background-color: #F4F4F4;
}
body > section#login > article > form {
	padding: 1.5rem;
}
body > section#login > article#login {
  top: 1rem!important;
}
body > section#login > article#login h1 {
	position: relative;
	width: 16rem;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
	color: #E95644;
}
body > section#login > article#login h1 img.icon {
	float: left;
	height: 2.5rem;
	margin-right: .5rem;
}
body > section#login > article#login button {
	width: 100%;
}
section > header span.showbar {
  display: block;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  height: .4rem;
  transition: all .5s ease;
}
span.totalUnread {
  display: none;
}
body[data-unread='1'] span.totalUnread {
  display: block;
  position: absolute;
  top: .8rem;
  left: .6rem;
  border-radius: .2rem;
  background-color: #E95644;
  color: #FFF;
  border: .1rem solid #D14D3D;
  padding: .2rem .5rem .3rem .4rem;
  line-height: 1em;
  font-weight: 700;
  z-index: 1000;
  animation: blink .5s infinite alternate;
}
section#main > article.list > ul > li {
  background-color: #F9F9F9;
  border-bottom: .05rem solid #E6E6E6;
  height: 3rem;
  padding: .5rem;
  cursor: pointer;
  perspective: 15rem;
  perspective-origin: 3rem 3rem;
  transition: all .5s ease;
}
section#main > article.list > ul > li:active {
  background-color: #E95644;
}
section#main > article.list > ul > li > span.avatar {
  position: absolute;
  display: block;
  height: 3.2rem;
  width: 3rem;
  top: .4rem;
  left: .4rem;
}
section#main > article.list > ul > li[data-unread='1'] > span.avatar {
  transform: rotateY(50deg) translateX(-.4rem);
}
section#main > article.list > ul > li > span.avatar > img {
  display: block;
  width: 3.2rem;
  border-radius: .2rem;
  overflow: hidden;
}
section#main > article.list > ul > li > span.avatar > img:not([src]) {
  height: 3.2rem;
  width: 3.2rem;
  background-image: url('../img/foovatar.png');
  background-size: 100%;
  background-color: #D4D2C5;
}
section#main > article.list > ul > li > span.name {
  position: absolute;
  left: 4.2rem;
  top: .8rem;
  right: 1rem;
  color: #666;
  font-size: 1.1rem;
  line-height: 1.2rem;
  height: 1.2rem;
  font-weight: 400;
  overflow: hidden;
}
body:not([data-show="na"]) > section#main > article.list > ul > li > span.name {
  left: 5.2rem;
}
section#main > article.list > ul > li:active > span.name {
  color: #FFF;
}
section#main > article.list > ul > li > span.status,
section#main > article.list > ul > li > span.last {
  position: absolute;
  left: 4.2rem;
  top: 2.2rem;
  color: #888;
  font-size: .9rem;
  font-weight: 200;
  width: calc(100vw - 5rem);
  height: 1.2em;
  overflow: hidden;
}
section#main > article.list > ul > li:active > span.status,
section#main > article.list > ul > li:active > span.last {
  color: #FFF;
}
section#main > article.list > ul > li > span.show {
  display: block;
  position: absolute;
  top: 1rem;
  left: 4.2rem;
  width: .7rem;
  height: .7rem;
  border-radius: .1rem;
}
section#main > article.list > ul > li > span.unread {
  display: none;
}
section#main > article.list > ul > li[data-unread='1'] > span.unread {
  display: block;
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  border-radius: .2rem;
  background-color: #E95644;
  color: #FFF;
  padding: .1rem .3rem .2rem .2rem;
  font-weight: 700;
}
section#main > article#me > div#status {
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
}
section#main > article#me > div#status > div {
  margin: 1.5rem 0;
}
section#main > article#me > div#status > div > h1 {
  color: #E95644;
  margin-bottom: .5rem;
  font-size: 1.1rem;
}
section#main > article#me > div#status > div > h2 {
  font-weight: 300;
  font-size: 1rem;
  color: #666;
  margin-bottom: .5rem;
}
section#main > article#me > div#vcard {
  background-color: #EBE9DD;
  height: 6rem;
  overflow: hidden;
}
section#main > article#me > div#vcard h1#fn {
  position: relative;
  top: 1.2rem;
  left: 7rem;
  max-width: 60vw;
  font-size: 1.1rem;
  line-height: 1rem;
  color: #666;
}
section#main > article#me > div#vcard h2#jid {
  position: relative;
  top: 1.5rem;
  left: 7rem;
  font-size: .9rem;
  font-weight: 300;
  color: #666;
}
section#main > article#me > div#vcard span.avatar {
  position: absolute;
  display: block;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  top: 0;
  left: 0;
  background-image: url('../img/foovatar.png');
  background-size: 100%;
  background-color: #CCC;
}
section#main > article#me > div#vcard span.avatar img {
  width: 6rem;
}
section#chat > header .name {
  position: absolute;
  left: 2rem;
  top: .6rem;
  font-size: 1rem;
  line-height: 1rem;
}
body:not([data-show="na"]) > section#chat > header .name {
  left: 3rem;
}
section#chat > header .status {
  position: absolute;
  left: 2rem;
  top: 1.55rem;
  font-size: .9rem;
  line-height: 1rem;
  font-weight: 200;
}
section#chat > header .show {
  display: block;
  position: absolute;
  top: .75rem;
  left: 2rem;
  width: .7rem;
  height: .7rem;
  border-radius: .1rem;
}
section#chat > header .avatar {
  position: absolute;
  right: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
section#chat > header .avatar img {
  height: 3rem;
}
section#chat span.totalUnread {
  top: 3.7rem;
  left: -1rem;
  padding: .5rem .5rem .5rem 1.5rem;
  cursor: pointer;
  animation: none;
}
section#chat > article#chat > ul#messages {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding-top: .5rem;
	bottom: 4rem;
	overflow-x: hidden;
  list-style-type: none;
}
section#chat > article#chat > ul#messages > li > div {
  position: relative;
  border: .1rem solid #DDD;
  background-color: #FFF;
  padding: .7rem;
  margin: .5rem 0;
  border-radius: .2rem;
  width: calc(100% - 4.5rem);
}
section#chat > article#chat > ul#messages > li > div a{
  color: #E95644;
}
section#chat > article#chat > ul#messages > li > div[data-type='out'] {
  text-align: right;
  margin-left: 2.5rem;
  background-color: #F3F3F3;
  color: #777;
}
section#chat > article#chat > ul#messages > li > div[data-type='in'] {
  text-align: left;
  margin-left: .5rem;
}
section#chat > article#chat > ul#messages > li > div.same {
  margin-top: -.7rem;
  border-radius: 0 0 .2rem .2rem;
  border-top: .1rem solid #EEE;
  padding: .7rem .7rem;
}
section#chat > article#chat > ul#messages > li > div span.stamp {
  position: absolute;
  font-size: .7rem;
  font-weight: 300;
  color: #999;
}
section#chat > article#chat > ul#messages > li > div[data-type='out'] span.stamp {
  top: .7rem;
  left: -2rem;
}
section#chat > article#chat > ul#messages > li > div[data-type='in'] span.stamp {
  top: .7rem;
  right: -2rem;
}
section#chat > article#chat > ul#messages > li > div > span.text {
  font-weight: 300;
}
section#chat > article#chat > ul#messages > li:last-child {
  margin-bottom: 3.5rem;
}
section#chat > article#chat #typing {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -3rem;
	height: 1rem;
	padding: .5rem;
	background-color: rgba(255, 255, 255, .9);
	text-align: center;
	font-size: .8rem;
	z-index: 1;
}
section#chat > article#chat > div#footbox {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: .6rem;
	background-color: #EBE9DD;
	border-top: .05rem solid #D4D2C5;
}
section#chat > article#chat > div#footbox > div#text {
	position: relative;
	padding: .7rem .5rem .5rem .5rem;
	min-height: 1.3rem;
	max-height: 4rem;
	background-color: #FFF;
	border: .05rem solid #DDD;
	border-radius: .2rem;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1rem;
	color: #666;
	outline: none;
	overflow: auto;
}
section#chat > article#chat > div#footbox > div#text:focus {
  border: .05rem solid #BBB;
}
section#chat > article#chat > div#footbox > button#say {
	position: relative;
	float: right;
	top: 0.05rem;
	font-size: .8rem;
	line-height: 1.5rem;
	padding: .1rem 1rem .2rem 1rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 0;
	margin-left: 0.5rem;
	font-weight: bold;
}
section#dialog > article {
	background-color: #F4F5F5;
	color: #444;
}
section#dialog > header {
	height: 2.05rem;
	background-color: #333;
	border-bottom: .1rem solid #666;
	font-size: .8rem;
	line-height: 1rem;
	padding-top: 1.4rem;
	color: #FFF;
}
section#dialog > header > nav {
	position: absolute;
	top: .2rem;
}
section#dialog > header > nav > a > span {
  font-size: 1rem!important;
  color: #FFF;
}
section#dialog > header > a.right {
	position: absolute;
	top: .2rem;
	right: 0;
	padding: 1rem;
}
section#dialog > article > form,
section#dialog > article > p {
	padding: 1.5rem;
}
section#dialog > article > p.tip {
  background-color: #E3DEDB;
  min-height: 2rem;
}
section#dialog > article > p.tip img {
  height: 2rem;
	float: left;
  margin-right: 1rem;
}
section#dialog > article > form > label {
  color: #555;
}
section#dialog > article > form > input,
section#dialog > article > form > [data-pretend=input-text] {
  margin: .5rem 0 1rem 0;
}
section#dialog > article button {
	display: block;
	margin: 0 auto;
}
section#dialog > article button span.icon {
	margin-right: .5rem;
	font-size: 1rem;
}
section#dialog > article#contactEdit .avatar {
  height: 3rem;
  margin-top: -.5rem;
  border-radius: .2rem;
}
section#dialog > article#contactEdit p.tip strong {
  display: block;
  margin-top: .5rem;
  width: 18rem;
  word-break: break-all;
}
section [data-show=chat] {
  background-color: #2ECC71;
}
section [data-show=a] {
  background-color: #2ECC71;
}
section [data-show=away] {
  background-color: #3498DF;
}
section [data-show=xa] {
  background-color: #F1C40F;
}
section [data-show=dnd] {
  background-color: #E95644;
}
section [data-show=na] {
  background-color: #BDC3C7;
}
section#main article#contacts.disHide li[data-show='na'] {
	display: none;
}
/* KEYFRAMES */
@keyframes blink {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(.8);
	}
}
