/*@import url("BB/progress-activity.css");
@import url("BB/headers.css");
@import url("BB/buttons.css");
@import url("BB/input_areas.css");*/
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Bold.ttf');
	font-weight: 700;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Medium.ttf');
	font-weight: 500;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Regular.ttf');
	font-weight: 300;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Light.ttf');
	font-weight: 100;
}
@media screen and (orientation:portrait) {
	html{
		font-size: 5vw!important;
	}
}
@media screen and (orientation:landscape) {
	html{
		font-size: 5vh!important;
	}
}
@media screen and (min-width: 1000px){
	html{
		font-size: 1.5em;
	}
}
.left{
	float: left;
}
.right{
	float: right;
}
body *{
	font-family: MozTT, Open Sans, Ubuntu, Droid Sans, Roboto, Sans;
	font-weight: 200;
	letter-spacing: -0.05em;
}
a{
	color: inherit;
}
input[type="text"],
input[type="password"],
input[type="email"]{
	height: 2rem;
	width: 100%;
	font-size: 1rem;
	margin-left: -.1rem;
}
body > section#welcome{
	background-color: #E5745C;
	color: #FFF;
}
body > section#welcome > div{
	margin: 4rem 2rem;
}
body > section#welcome h1{
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
}
body > section#welcome h2{
	font-size: 1.3rem;
	line-height: 1.3rem;
}
body > section#welcome a{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	font-size: 1.5rem;
}
body > section#login{
	background-color: #F4F4F4;
}
body > section#login > article > div{
	padding: 2rem;
}
body > section#login > article#login h1{
	position: relative;
	width: 16rem;
	font-size: 1.3rem;
	line-height: 1.3rem;
	margin: .5rem 0 1rem 0;
	font-weight: 500;
	color: #E5745C;
}
body > section#login > article#login h1 img.icon{
	float: left;
	margin-right: .5rem;
}
body > section#login > article#login button{
	width: 100%;
	background-color: #E5745C;
}
