[Desktop Entry]
Name=LoquiIM alpha
Exec=wssrv-tcp -d -b 127.0.0.1 -- webapp-container --app-id=loqui.im --user-agent-string='$(Token.UserAgent)' ./www/index.html
Icon=loqui.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

