body{
  background-color: #312F34;
}
button {
  border-radius: .2rem;
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
}
input {
  pointer-events: auto;
}
small {
  font-size: .9rem;
  font-weight: 100;
}
article.form {
  overflow: auto;
}
a {
  cursor: pointer;
}
input[type='search'] {
  width: 100%;
  border-radius: 0;
}
input[type='text'] {
  width: calc(100% - 2rem);
  height: 4.2rem;
  font-size: 1.5rem;
  border: .1rem solid #DFDFDF;
  border-radius: .2rem;
  padding: 0 1rem;
}
.spaced {
  margin-right: .5rem;
}
.buttongroup {
  margin: 2.5rem 0;
}
.buttongroup > button {
  margin-top: .5rem;
  margin-bottom: .4rem;
  width: 100%;
}
article.form button[data-view-section='back'],
article.form button[data-role='back'],
article.form button.back {
  width: 100%;
  background-color: #DDD;
  color: #666;
}
article.form button[data-role='submit'] {
  width: 100%;
}
article.form label {
  width: 100%;
  font-size: 1.4rem;
}

section > article.simple {
  padding: 3.2rem;
  color: #333;
}
section > article.simple > h1 {
  position: relative;
  width: calc(100vw - 6.4rem);
  font-size: 2.6rem;
  line-height: 2.6rem;
  margin: 0 0 1rem 0;
  font-weight: 100;
  color: #E95644;
}
section > article.simple > p {
  font-weight: 100;
  font-size: 1.6rem;
}
section > article.simple > div > p {
  font-weight: 300;
  font-size: 1.6rem;
  margin-bottom: .5rem;
}
#welcome {
  color: #E95644;
  text-align: center;
  background: url('https://loqui.im/img/background.jpg') no-repeat center center fixed; 
  background-size: cover;
  -webkit-background-size: cover;
}
#welcome h1 {
  position: absolute;
  font-size: 1.5rem;
  font-style: italic;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  color: white;
  background-color: transparent;
}
section.setup img[src^='img/providers']{
  position: absolute;
  top: 3.5rem; right: 3rem;
  width: 5.6rem;
}
#providers {
  z-index: 100;
}
#avatar {
  position: relative;
  width: 14rem;
  left: calc(50% - 7rem);
  padding: .2rem;
  border: .1rem solid #DDD;
  background-color: #FFF;
  margin: 1rem 0 0 0;
  border-radius: 50%;
  box-sizing: content-box;
}
section > header {
  background-color: #222;
}
section > header h1 {
  position: absolute;
  left: 5.6rem;
  right: 5.6rem;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
  font-style: italic;
}
section > header.simple > h1 {
  right: 3rem;
  left: 3rem;
  top: .2rem;
  font-style: italic;
  font-size: 1.5em;
}
section > header > nav {
  overflow: hidden;
  float: right;
  display: block;
}
section > header > nav .up {
  border: none;
  background: none;
  color: white;
  font-size: 1.2em;
}
section > header > nav.discreet {
}
section > header > nav.discreet button {
  border: none;
  border-radius: 50%;
  background: none;
  background-color: transparent;
  color: white;
  width: 4.6rem;
  font-size: 1.6rem;
}

section.extended > header {
  background-color: #E74C3C;
}
#searchBar > header {
  background-color: #E74C3C;
}
section.extended article {
  top: 11.2rem;
  height: calc(100% - 11.2rem);
}
section:not(.extended) nav[data-control="groupbar"] {
  display: none;
}
#searchBar:not(.extended) nav[data-control="groupbar"] {
  display: none;
}
section nav[data-control="groupbar"] {
  position: absolute;
  top: 5.6rem;
  width: 100%;
  height: 5.6rem;
  background-color: white;
  color: #333;
  border-bottom: .1rem solid #CECECE;
  box-sizing: content-box;
}
#searchBar nav[data-control="groupbar"] {
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 3rem;
  background-color: #37353A;
  color: white;
}
section nav[data-control="groupbar"] a {
  float: left;
  margin: 1rem -1rem 0 1rem;
  padding: .8rem 1.5rem .6rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 100;
  font-style: italic;
  border-radius: 3rem;
}
section nav[data-control="groupbar"] a.selected {
  background-color: #E74C3C;
  color: white;
}
.aside {
  -webkit-transform: translateX(5rem);
  transform: translateX(5rem); 
}
section > nav[data-control="menu"] {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  top: 5.4rem;
  left: 0;
  right: 0;
  padding: 1rem 0 1.6rem 1rem;
  z-index: -1;
}
section > nav[data-control="menu"].show {
  visibility: visible;
}
section > nav[data-control="menu"] a {
  float: left;
  width: 3.5rem;
  height: 3rem;
  font-size: .8em;
  font-weight: 100;
  color: #FFF;
  padding: .5rem 0 0 0;
  text-align: center;
  text-transform: capitalize;
  box-sizing: content-box;
}
section > nav[data-control="menu"] a:active {
  background-color: #444;
}
section > nav[data-control="menu"] a:before {
  display: block;
  font-size: 1.5rem;
}

#activity {
  z-index: 52;
}

#searchInput {
  background: inherit;
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 5px;
  width: calc(100% - 1.6rem);
  margin: 0.4rem;
  padding: 0.3rem;
}

#reset {
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background: url('../../img/console-inactive.png');
  margin: 0.7rem;
}

#search > h1 {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  padding: 1rem;
}

#main > header > span {
  position: absolute;
  color: white;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  left: 3.2rem;
  right: 3.2rem;
}
#main > header select {
  position: absolute;
  top: 0;
  height: 5.6rem;
  width: calc(100% - 6.4rem);
  opacity: 0;
}
#main > header .jid {
  padding: 1.7rem;
  font-size: 1.6rem;
  font-weight: 700;
}
#main > header span.counter {
  display: block;
  position: absolute;
  top: 1.2rem;
  right: .3rem;
  background-color: #E74C3C;
  color: #FFF;
  padding: .4rem .5rem;
  font-size: .6em;
  line-height: .6em;
  border-radius: .6rem;
  animation: blink .5s infinite alternate;
  -webkit-animation: blink .5s infinite alternate;
}
#chat > header .angle-left {
  font-size: 2rem;
}
#chat > header span.counter {
  display: block;
  position: absolute;
  top: 1.2rem;
  left: .3rem;
  background-color: #E74C3C;
  color: #FFF;
  padding: .4rem .5rem;
  font-size: .6em;
  line-height: .6em;
  border-radius: .6rem;
  animation: blink .5s infinite alternate;
  -webkit-animation: blink .5s infinite alternate;
}
#chat[data-muc="true"] #plus .otr,
#chat[data-muc="true"] #plus .bolt {
  display: none;
}
#main > header span.counter[data-value='0'],
#chat > header span.counter[data-value='0'] {
  display: none;
}
#main article ul {
  list-style-type: none;
  background-color: #FFF;
  height: calc(100vh - 4 rem);
}
#main article ul li{
  position: relative;
  border-bottom: .05rem solid #E6E6E6;
  height: 7.6rem;
  cursor: pointer;
  box-sizing: content-box;
}
#activity article ul li {
  position: relative;
  border-bottom: .05rem solid #E6E6E6;
  height: 5.6rem;
  cursor: pointer;
  box-sizing: content-box;
}
#main article ul li[data-muc="true"],
#activity article ul li[data-muc="true"] {
  background-color: #EBE9DD;
}
#main article ul li[data-muc="true"] span.avatar img:not([src]),
#activity article ul li[data-muc="true"] span.avatar img:not([src]) {
  background-image: url('../../img/goovatar.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  background-color: #D4D2C5;
}
#main article ul li:active,
#activity article ul li:active {
  background-color: #DDD;
}
#activity article ul li.selected:after {
  content: '✔';
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: #2CC269;
  color: white;
  border-radius: 100%;
  width: 2rem;
  padding: .5rem 0; 
  font-size: 1.5rem;
  line-height: 1rem;
  text-align: center;
}
#activity article ul li span.name {
  position: absolute;
  left: 1.6rem;
  top: .6rem;
  color: #222;
  max-width: calc(100% - 4.5rem);
  overflow: hidden;
  font-size: 1.6rem;
  padding-top: .3rem;
}
#main article ul li span.name {
  position: absolute;
  left: 7.2rem;
  top: 1.2rem;
  color: #222;
  width: calc(100% - 14rem);
  overflow: hidden;
  font-size: 1.6rem;
  padding-top: .3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#main article ul li span.status,
#main article ul li span.lastMessage {
  position: absolute;
  left: 7.2rem;
  bottom: 1.6rem;
  color: #666;
  font-weight: 100;
  font-size: 1.4rem;
  max-width: calc(100% - 12rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#activity article ul li span.status,
#activity article ul li span.lastMessage {
  position: absolute;
  left: 1.6rem;
  top: 2rem;
  color: #444;
  font-weight: 100;
  font-size: 1.4rem;
  max-width: calc(100% - 4.5rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 0.9rem;
}
#main article ul li span.name img,
#main article ul li span.status img,
#main article ul li span.lastMessage img,
#chat header span.title img,
#status img,
#muc .name img,
#activity article ul li span.name img,
#activity article ul li span.status img,
#activity article ul li span.lastMessage img  {
  height: 1em;
}
#main article ul li span.lastStamp > * {
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
  color: #999;
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 1.2rem;
  max-width: calc(100% - 4.7rem);
  text-align: right;
}
#activity article ul li span.lastStamp,
#activity article ul li span.unread {
  display: none;
}
#main header {
  border-bottom: .5rem solid;
  transition: border-bottom .2s ease;
}
#main article ul li span.avatar {
  position: absolute;
  display: block;
  height: 4.4rem;
  width: 4.4rem;
  top: 1.6rem;
  left: 1.2rem;
}
#main article ul li span.avatar img {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
}
#main article ul li span.avatar img:not([src]) {
  background-image: url('../../img/foovatar.png');
  background-size: 100%;
  -webkit-background-size: 100%;
  background-color: #D4D2C5;
}

#chats ul li[data-hidden="1"]{
  display: none;
}

#main article ul li[data-unread]:not([data-unread="0"]):after {
  content: attr(data-unread);
  display: block;
  position: absolute;
  bottom: 1.2rem;
  right: 1.6rem;
  background-color: #E74C3C;
  color: #FFF;
  padding: .35rem .8rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
  border-radius: 1.2rem;
}
#main .noChats {
  position: absolute;
  display: block;
  text-align: center;
  width: 16rem;
  left: calc(50% - 8rem);
  top: calc(50% - 5rem);
}
#main .noChats strong {
  color: #444;
}
#main .noChats p {
  color: #999;
  font-size: .9em;
}

#searchForm {
  padding: .3rem .25rem;
  background-color: #555;
  height: 2.6rem;
  box-sizing: content-box;
}
#searchForm input {
  position: absolute;
  font-size: 1rem;
  border-radius: .2rem;
  width: calc(100% - .5rem);
}
#main[data-features~='localContacts'] #searchForm input {
  width: calc(100% - 2rem);
}
#searchForm span.sync {
  display: block;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem .4rem .5rem .4rem;
}
#main:not([data-features~='localContacts']) #searchForm span.sync {
  display: none;
}
#searchForm span.clear {
  position: absolute;
  display: none;
  padding: .3rem .6rem;
  top: 0;
  right: .4rem;
  text-align: center;
  color: #CCC;
  font-size: 1.4rem;
}
#main[data-features~='localContacts'] #searchForm span.clear {
  right: 1.8rem;
}

#activity article header.beige {
  height: 4.4rem;
  background-color: #ECECEC;
  border-bottom: .1rem solid #CECECE;
  box-sizing: content-box;
}
#activity article header.beige button {
  padding: 1.3rem 1.6rem 1.2rem 1.6rem;
  border: none;
  border-radius: 0;
  background: none;
  font-size: 1.4rem;
}
#activity article header.beige button:not(:last-child) {
  border-right: .1rem solid #BBB;
}
#activity.extended article .list {
  position: absolute;
  top: 4.4rem;
  right: 0;
  bottom: 0;
  left: 0;
}

#devmode div p {
  position: relative;
  padding: 1rem;
  border-bottom: .1rem solid #DDD;
  list-style-type: none;
  cursor: pointer;
  font-weight: 300;
  font-size: .9em;
}

#settings ul li {
  position: relative;
  padding: 2rem 1.6rem;
  border-bottom: .1rem solid #DDD;
  list-style-type: none;
  cursor: pointer;
}
#settings ul li span {
  display: block;
  max-width: calc(100% - 4rem);
  font-weight: 100;
  font-size: 1.6rem;
}
#chat header span {
  color: white;
  text-align: right;
  display: block;
}
#chat header .title {
  position: absolute;
  top: .8rem;
  right: 7.6rem;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: right;
  height: 1.1em;
  width: calc(100% - 11.6rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#chat header .status {
  position: absolute;
  top: 2.8rem;
  right: 7.6rem;
  font-size: 1.2rem;
  font-weight: 100;
  height: 1.2em;
  width: calc(100% - 11.6rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#chat header .status img{
  height: .8em;
}
#chat header .show {
  position: absolute;
  right: 5rem;
  top: .1rem;
  width: 1rem;
  height: 1rem;
  border: .5rem solid #222;
  border-radius: 50%;
  z-index: 1;
  box-sizing: content-box;
}
#chat header .avatar {
  position: absolute;
  top: -1rem;
  right: -1rem;
}
#chat header .avatar img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
}
#footbox {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F9F9F9;
  border-top: .1rem solid #E6E6E6;
}
#chat #footbox #typing {
  position: absolute;
  top: -2.4rem;
  left: 0;
  height: 1.05rem;
  padding: .4rem 1rem .9rem 1rem;
  border: .1rem solid #E6E6E6;
  border-bottom: none;
  border-left: none;
  background-color: inherit;
  font-size: 1.2rem;
  font-weight: 100;
  color: #999;
  z-index: 1;
  border-top-right-radius: .5rem;
  box-sizing: content-box;
}
#footbox button {
  position: relative;
  float: right;
  top: 0.05rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: .1rem 1rem .2rem 1rem;
  width: 3.2rem;
  height: 3.2rem;
  margin: 0;
  margin-left: 0.5rem;
  font-weight: bold;
  background: #E95644;
  border: none;
  color: white;
  box-sizing: border-box;
}
#say {
  display: none;
}
#text {
  position: relative;
  padding: .4rem .5rem .9rem .5rem;
  min-height: 1.8rem;
  max-height: 6.2rem;
  background: none;
  border: none;
  border-bottom: .1rem solid #BBB;
  border-radius: .2rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #666;
  outline: none;
  overflow: auto;
  transition: all .2s;
  -webkit-transition: all .2s;
}
#text:focus {
  border-bottom: .1rem solid #E95644;
}

#messages {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 4rem;
  overflow-x: hidden;
  list-style-type: none;
  background-color: #FFF;
  padding-top: 1.5rem;
  background-size: cover;
  -webkit-background-size: cover;
}
#messages > .more {
  width: calc(100vw - 1rem);
  background: #E95644;
  border: none;
  padding: .5rem;
  color: white;
  font-weight: 300;
  margin: -1rem .5rem 1rem .5rem;
}
#messages > li {
  display: block;
  overflow: auto;
}
#messages > li > div {
  position: relative;
  display: block;
  padding: .5rem 1.6rem;
  clear: both;
  max-width: calc(100% - 5rem);
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
}
#messages > li > div a{
  color: #E95644;
}
#messages > li > div[data-type='out'] a{
  color: #fff;
}
#messages > li > div[data-type='out'] {
  float: right;
}
#messages > li > div[data-type='in'] {
  float: left;
  text-align: left;
}
#messages > li > div[data-type='out'] + div[data-type='out'],
#messages > li > div[data-type='in'] + div[data-type='in'] {
  margin-top: -.6rem;
}
#messages > li > div .avatar img {
  position: absolute;
  top: .8rem;
  border-radius: 100%;
  width: 2.4rem;
  height: 2.4rem;
}
#chat[data-muc='true'] #messages > li > div.extended .avatar img {
  top: 2.2rem;
}
#messages > li > div[data-type='in'] .avatar img {
  left: .3rem;
}
#messages > li > div > span.name {
  display: block;
  margin-bottom: .2rem;
  margin-left: -.1rem;
  font-size: .8em;
  font-weight: 100;
  color: #AAA;
  text-shadow: 0 .05rem 0 white;
}
#chat:not([data-muc='true']) #messages > li > div > span.name {
  display: none;
}
#messages > li > div > span.text {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  font-weight: 100;
  font-size: 1.6rem;
  word-wrap: break-word;
  border-radius: .3rem;
}
#messages > li > div[data-type='out'] > span.text {
  background-color: #E95644;
  color: white;
}
#messages > li > div[data-type='in'] > span.text {
  left: 1.8rem;
  background-color: #EEE;
  color: #333;
}
#messages > li > div[data-type='in'] .avatar:after {
  content: '';
  display: block;
  position: absolute;
  top: 1.7rem;
  left: 3rem;
  width: .7rem;
  height: .7rem;
  background-color: #EEE;
  border-radius: .2rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#chat[data-muc='true'] #messages > li > div[data-type='in'].extended .avatar:after {
  top: 2.7rem;
}
#messages > li > div > span.text > img{
  vertical-align: middle;
  height: 1.2em;
}
#messages > li > div[data-type='out'][data-receipt='sent']:after {
  content: "";
  display: block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #3498DF;
  position: absolute;
  top: .3rem;
  left: -1.9rem;
  opacity: .3;
}
#messages > li > div[data-type='out'][data-receipt='delivered']:after {
  content: "";
  display: block;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #2ECC71;
  position: absolute;
  top: .3rem;
  right: 1.9rem;
}
#messages > li:last-child {
  margin-bottom: 3.5rem;
}
#messages span.text img.image {
    margin: -0.5rem -1rem;
    width: calc(100vmin - 6rem);
    height: 100%;
    border-radius: .2rem;
}
#messages span.text img.audio{
    width: calc(100%);
    height: calc(100%);
}
#messages span.text .maps{
    width: calc(100%);
    height: calc(100%);
}
#messages span.text img.image[data-downloaded=false] {
    opacity: .4;
}
#messages span.text img.video {
    width: calc(100%);
    height: calc(100%);
}
#messages span.text img.video[data-downloaded=false] {
    opacity: .4;
}
#messages li div[data-media-type='video'] {
  width: calc(100% - 3.5rem);
}
#messages li div[data-media-type='video']:after {
  content: url(../../img/play.png);
  position: absolute;
  width: 4rem;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem);
}
#messages li div[data-media-type='audio'] {
  width: calc(100% - 3.5rem);
}

#messages li div[data-media-type='url'] {
  width: calc(100% - 3.5rem);
}
#messages li time {
  position: relative;
  display: block;
  clear: both;
  width: calc(100vw);
  text-align: center;  
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  padding: 1rem 0 .5rem 0;
  color: #666;
  text-shadow: 0 .05rem 0 white;
}
#messages li .lastRead {
  position: relative;
  display: block;
  clear: both;
  width: calc(100vw);
  text-align: center;  
  font-size: .8rem;
  font-weight: 100;
  font-style: italic;
  margin: .5rem 0;
  padding: .5rem 0;
  border-bottom: .1rem solid #E95644;
}
#messages li .lastRead:before,
#messages li .lastRead:after {
  content: '↓';
  margin: 0 .5rem;
  font-style: normal;
}
#chat[data-muc="false"][data-caps="false"] #messages li .lastACK,
#chat[data-muc="false"][data-caps~="urn:xmpp:receipts"] #messages li .lastACK {
  position: relative;
  display: block;
  clear: both;
  width: calc(100vw);
  text-align: center;  
  font-size: .8rem;
  font-weight: 100;
  font-style: italic;
  margin: .5rem 0;
  padding: .5rem 0;
  border-bottom: .1rem solid #2ECC71;
}
#messages li:not(:last-of-type) .lastACK {
  display: none;
}
#emoji {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.8);
  margin-top: 5.8rem;
  height: calc(100vh - 17.9rem);
  padding: 0.5rem;
  overflow: scroll;
  border-top: .1rem solid #222;
}
#emoji ul {
  list-style-type: none;
}
#emoji ul li {
  padding: 1.38rem;
  float: left;
  cursor: pointer;
}
#emoji ul li img {
  width: 2rem;
  height: 2rem;
}
#emoji button {
  width: 100%;
}
#call {
  padding: 1rem;
}
#call h1 {
  font-size: 1.2rem;
  border-bottom: .1rem solid #AAA;
  color: #444;
}
#call ul {
  height: calc(100% - 5.5rem);
  margin-bottom: .8rem;
  overflow: scroll;
  list-style-type: none;
}
#call ul li {
  padding: 1rem;
  float: left;
  cursor: pointer;
}
#call ul li img {
  width: 2rem;
  height: 2rem;
}
#call button {
  width: 100%;
}

#videocall {
  padding: 1rem;
}
#videocall h1 {
  font-size: 1.2rem;
  border-bottom: .1rem solid #AAA;
  color: #444;
}
#videocall ul {
  height: calc(100% - 5.5rem);
  margin-bottom: .8rem;
  overflow: scroll;
  list-style-type: none;
}
#videocall ul li {
  padding: 1rem;
  float: left;
  cursor: pointer;
}
#videocall ul li img {
  width: 2rem;
  height: 2rem;
}
#videocall button {
  width: 100%;
}

#chat[data-otr=true] #messages:after {
  content: "\f023";
  position: fixed;
  font-family: lungojsicon;
  font-weight: 700;
  font-size: 12rem;
  color: #E95644;
  top: calc(50vh - 6rem);
  left: calc(50vw - 4rem);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  opacity: .2;
  pointer-events: none;
}

section:not([data-features~=presence]) span.show {
  display: none;
}

section.profile #card {
  padding: 2rem;
  min-height: 8rem;
  color: #333;
  background-size: cover;
  -webkit-background-size: cover;
}
section.profile #card span.avatar {
  position: absolute;
  display: block;
  height: 10rem;
  width: 10rem;
  top: 2rem;
  left: calc(50% - 5rem);
}
section.profile #card span.avatar img {
  display: block;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
}
section.profile #card span.name {
  display: block;
  margin: 11rem 1rem 0 1rem;
  max-width: calc(100% - 2rem);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #222;
  font-weight: 300;
  text-shadow: 0 .05rem 0 white;
}
section.profile #card .user {
  display: block;
  margin: 1rem 1rem 1rem 1rem;
  max-width: calc(100% - 2rem);
  text-align: center;
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 200;
  word-break: break-all;
  text-shadow: 0 .05rem 0 white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}
section.profile #card span.provider {
  position: absolute;
  display: block;
  width: 3rem;
  height:3rem;
  top: 1.4rem;
  left: calc(50% + 2.6rem);
  border: .4rem solid white;
  border-radius: .8rem;
  background-color: white;
  box-sizing: content-box;
}
section.profile #card span.provider img {
  width: 100%;
  border-radius: .6rem;
}
section.profile #card button.background {
  position: absolute;
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  right: 1.6rem;
  padding: .3rem;
  border: none;
  border-radius: .3rem;
  background: white;
  opacity: .7;
  box-sizing: content-box;
}
section.profile #card .background.change {
  top: 1.6rem;
}
section.profile #card .background.delete {
  top: 6.2rem;
}
section.profile #card button.background.change img {
  width: 100%;
  border-radius: .3rem;
}
section.profile #settings ul {
  margin-top: .5rem;
}
section.profile #settings li {
  display: block;
  position: relative;
  height: 5.6rem;
}
section.profile #settings li .caption {
  display: block;
  position: relative;
  top: 2rem;
  width: calc(100% - 4rem);
  font-size: 1.6rem;
}
#me:not([data-features~=nickChange]) #nick {
  display: none;
}
#me:not([data-features~=statusChange]) #status {
  display: none;
}
#me:not([data-features~=rosterMgmt]) .contactAdd {
  display: none;
}
#me:not([data-features~=pay]) .accountPurchase {
  display: none;
}
#chat:not([data-features~=imageSend]) .picture {
  display: none;
}
#chat:not([data-features~=videoSend]) .video {
  display: none;
}
#chat:not([data-features~=audioSend]) .audio {
  display: none;
}
#chat:not([data-features~=locationSend]) .location {
  display: none;
}
#chat:not([data-features~=attention]) .bolt {
  display: none;
}
#status input,
#nick input {
  margin: .5rem 0 1.5rem 0;
}
section.profile article > div:not(#card) {
  padding: 0 1.6rem 0rem 1.6rem;
/* border-top: .1rem solid #CCC; */
}
section.profile article > div:not(#card) h2 {
  font-size: 1.6rem;
  color: #444;
  margin-bottom: 0;
}
section.profile article > div:not(#card) p {
  font-weight: 100;
  font-size: 1.4rem;
  margin: .5rem 0 2rem 0;
  color: #666;
}
section.profile article > div:not(#card) .buttongroup {
  margin: .5rem 0 1.6rem 0;
}
section.profile article > div:not(#card) ul li {
  list-style: none;
  padding: .5rem;
  border-bottom: .05rem solid #CCC;
  font-weight: 300;
  font-size: .9em;
  color: #666;
}
section.profile article > div:not(#card) ul li:last-child {
  border: none;
}

ul.mini {
  margin-top: 1rem;
  list-style-type: none;
}
ul.mini li a {
  border-bottom: .1rem solid #E3E3E3;
}
ul.mini li:last-of-type a {
  border: none;
}
ul.mini li a {
  position: relative;
  display: block;
  padding: 1rem .2rem 1rem 0;
  font-size: 1.6rem;
  margin-left: 4rem;
}
ul.mini li img {
  position: absolute;
  height: 2.4rem;
  left: -4rem;
  top: .9rem;
}

aside .cover {
  display: block;
  position: relative;
  background-color: #333;
  height: 17rem;
  transition: background-color .2s ease;
}
aside .cover span {
  color: white;
  position: absolute;
  left: 1.6rem;
}
aside .cover .provider {
  font-size: 1.4rem;
  bottom: 3.6rem;
  text-transform: uppercase;
}
aside .cover .jid {
  font-size: 1.6rem;
  font-weight: 600;
  bottom: 1.6rem;
  max-width: calc(100% - 10rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;  
}
aside .cover .avatar {
  top: 1.6rem;
}
aside .cover .avatar img {
  height: 8.2rem;
  width: 8.2rem;
  border-radius: 50%;
}
aside .cover .settings {
  color: white;
  font-size: 2.6rem;
  line-height: 2.6rem;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2rem 1.6rem;
}
aside .menu li {
  position: relative;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 1.2rem 3.6rem 1.2rem 4.8rem;
  color: #444;
}
aside .menu li span {
  display: block;
  max-width: calc(100% - 4rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
aside .menu li .switch {
  top: auto;
  bottom: 1rem;
  right: 1.6rem;
}
aside .menu li:first-of-type {
  padding-top: 2.4rem;
}
aside .menu li:last-of-type {
  margin-bottom: 1rem;
}
aside .menu li img.icon {
  position: absolute;
  bottom: .9rem;
  height: 2.8rem;
  left: 1.2rem;
}
aside .menu li img.provider {
  position: absolute;
  bottom: 1.3rem;
  height: 2rem;
  left: 1.6rem;
}
aside .menu hr {
  border: none;
  border-top: .01rem solid #DDD;
  margin: 1rem 1.6rem;
}

[data-show] .avatar:after {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: .5rem solid white;
  border-radius: 50%;
  box-sizing: content-box;
}
li[data-show] .avatar:after {
  left: 3.4rem;
  top: -.4rem;
}
li[data-show]:active .avatar:after {
  border-color: #DDD;
}
section[data-show] header .avatar:after {
  right: 6rem;
  top: 1rem;
  border-color: #222;
}
li[data-show=a] .avatar:after,
li[data-show=chat] .avatar:after,
section[data-show=a] header .avatar:after,
section[data-show=chat] header .avatar:after {
  background-color: #2ECC71;
}
li[data-show=away] .avatar:after,
section[data-show=away] header .avatar:after {
  background-color: #3498DF;
}
li[data-show=xa] .avatar:after,
section[data-show=xa] header .avatar:after {
  background-color: #F1C40F;
}
li[data-show=dnd] .avatar:after,
section[data-show=dnd] header .avatar:after {
  background-color: #E95644;
}
li[data-show='na'] .avatar:after,
li:not([data-show]) .avatar:after,
section[data-show='na'] header .avatar:after,
section:not([data-show]) header .avatar:after,
body[data-online='false'] .avatar:after,
ul:not([data-enabled='true']) .avatar:after {
  content: none;
}

#settings nav #developer {
  display: none;
}

.devMode #settings nav #developer {
  display: block;
}

#debugConsole {
  display: none;
}

.devConsole #debugConsole {
  display: block;
}

#devmode div button {
  position: absolute;
  right: 1rem;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: #00B8D6;
  transition: all .2s;
  -webkit-transition: all .2s;
  overflow: hidden;
}

#otrKeyFingerprint {
  display: block;
  position: relative;
  margin-top: .5rem;
}
#otrKeyFingerprint img {
  position: absolute;
  top: .5rem;
  right: 0;
}

#activity article ul.accounts {
  padding: 2rem;
}
#activity article ul.accounts li {
  position: relative;
  height: 3.6rem;
  overflow: hidden;
}
#activity article ul.accounts li:not(:first-child) {
  border-top: .1rem solid #E6E6E6;
}
#activity article ul.accounts li img.provIcon {
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .4rem;
}
#activity article ul.accounts li span.provider {
  position: absolute;
  top: .7rem;
  left: 3.6rem;
  font-size: .7em;
  color: #666;
}
#activity article ul.accounts li span.jid {
  position: absolute;
  top: 1.6rem;
  left: 3.6rem;
  max-width: calc(80vw - 3rem);
  font-size: .9em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#mucSearchForm output ul {
  margin-bottom: 2rem;
}
#mucSearchForm output ul li {
  position: relative;
  padding: 1rem .5rem;
}
#mucSearchForm output ul li:not(:last-child) {
  border-bottom: .1rem solid #CCC;
}
#mucSearchForm output ul li span {
  display: block;
  width: calc(100% - 3rem);
  word-break: break-all;
}
#mucSearchForm output ul li a {
  position: absolute;
  top: 1rem;
  right: .5rem;
  color: white;
  background-color: #999;
  padding: .2rem .5rem;
  margin-top: -.2rem;
  border-radius: .2rem;
}

div.switch {
  position: absolute;
  top: 2.1rem;
  right: 1.6rem;
  display: block;
  width: 5.4rem;
  height: 2.6rem;
  border-radius: 2.4rem;
  background-color: #BDC6C8;
  transition: all .2s;
  -webkit-transition: all .2s;
  overflow: hidden;
}
div.switch img.tick {
  display: none;
  position: absolute;
  height: 1.4rem;
  left: .6rem;
  top: .6rem;
}
div.switch div.ball {
  position: absolute;
  display: block;
  top: -.35rem;
  left: -.3rem;
  width: 2rem;
  height: 2rem;
  border: .7rem solid #ABB5B7;
  border-radius: 50%;
  background-color: #FFF;
  transition: all .2s;
  -webkit-transition: all .2s;
  box-sizing: content-box;
}
[data-value="true"] div.switch img.tick {
  display: block;
}
[data-value="true"] div.switch {
  background-color: #2EDF88;
}
[data-value="true"] div.switch div.ball {
  left: 2.4rem;
  border-color: #2CC269;
}
[data-value="loading"] div.switch {
  background-color: #F1D726;
}
[data-value="loading"] div.switch div.ball {
  left: 2.4rem;
  border-color: #EFBA07;
}

article.form ul.listBox {
  border: .1rem solid #AAA;
  border-radius: .2rem;
}
article.form ul.listBox li {
  padding: .3rem 1rem;
  font-size: 1rem;
}
article.form ul.listBox li.add {
  color: white;
  background-color: #2CC269;
  font-style: italic;
}
article.form ul.listBox li.add:before {
  margin-right: .5rem;
}

/* KEYFRAMES */
@keyframes blink {
  from {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* MEDIA QUERIES */
@media only screen and (orientation:landscape) and (max-height: 18vw) {
  #chat header {
    display: none;
  }
  #chat {    
    height: 100%;
  }
  #messages {
    display: none;
  }
  #text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    bottom: 0;
    border: none;
    border-radius: 0;
  }
}

/* PROGRESS BAR */

#main #footbox progress[value='0'] {
  display: none;
}
#main #footbox progress[value] {
  position: absolute;
  top: -.5rem;
  height: .5rem;
  left: 0;
  width: 100%;
  border: none;
  background-color: #DDD;
}
#main #footbox progress[value]::-moz-progress-bar {
  background-color: #E95644;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

/* CONSOLE */

#console {
  display:none;
}
#showConsole {
  top: 0;
  left:50%; 
  position:absolute;
  z-index:1001; 
  opacity:.50;
  width:20px;
  height:60px;
}
#hideConsole {
  top: 0;
  left:50%; 
  position:absolute;
  z-index:1001; 
  opacity:.50;
  width:20px;
  height:60px;
  display:none;
}
#console #backgroundConsole {
  left: 0;
  top:3rem;
  position:absolute;
  z-index:1001; 
  opacity:.70;
  background-color:black;
  width:100%;
  height:100%;
}
#console #bodyConsole {
  top:3rem;
  position:absolute;
  z-index:1002;
  color:white;
}
#console #bodyConsole #consoleTitle {
  float:left;
  margin-left: .5rem;
  color: red;
} 
#console #bodyConsole #consoleClear {
  float:right;
  margin-right: 1rem;
  margin-top: .3rem;
  background: white;
  font-size: 1rem;
  display: none;
}
#console #bodyConsole #logConsole {
  width:100%;
  margin-left: 1rem;
  padding: 0 1rem 1rem 1rem;
  overflow-y:scroll;
  overflow-x:hidden;
  word-wrap: break-word;
  font-size: .9rem;
  box-sizing: border-box;
}

#console #bodyConsole #logConsole div {
  word-wrap: break-word;
  font-size: .9rem;
}

.floater {
  display: block;
  background-color: #222;
  border-radius: 100%;
  position: fixed;
  right: 2.3rem;
  bottom: 2.3rem;
  width: 5.6rem;
  height: 5.6rem;
  box-shadow: 0 .2rem .2rem rgba(0, 0, 0, .3);
  transition: all .2s ease;
}

.floater:before {
  color: white;
  font-size: 2.4rem;
  position: relative;
  top: 1.5rem;
  left: 1.7rem;
}

